#startBtn {
  visibility: hidden;
}

#rollBtn {
  visibility: hidden;
}

#stepBtn {
  visibility: hidden;
}

#submitButton {
  display: block;
  position: fixed;
  margin-left: 55%;
  margin-top: -2.2%;
}

#nameSubmit {
  border-radius: 10px;
}
